//- Extends the base layout template (layout.pug)
extends layout

//- Defines the main content block
block content
  //- Container for tip details
  .tip-detail
    //- Display the tip title
    h1= tip.title
    
    //- Game and author metadata
    p.tip-meta Game: #{tip.game_title}
    p.tip-meta By: #{tip.username}
    
    //- Main content section
    .tip-content
      //- Full tip content
      p= tip.content
    
    //- Navigation buttons
    //- Link to view the game this tip is for
    a.btn(href=`/games/${tip.game_id}`) View Game
    //- Link to return to all tips
    a.btn(href="/tips") Back to Tips
