extends layout

block content
  .user-detail
    h1= user.username + "'s Profile"
    
    .user-info
      p.user-email Email: #{user.email}
      p.user-role Role: #{user.role}
      p.user-wisdom Wisdom Points: #{user.wisdom || 0}
    
    //- User's tips section
    .user-tips
      h2 Tips by #{user.username}
      
      if tips && tips.length
        .tips-list
          each tip in tips
            .tip-item
              h3= tip.title
              p Game: #{tip.game_title}
              p= tip.content.substring(0, 100) + (tip.content.length > 100 ? '...' : '')
              a.btn(href=`/tips/${tip.id}`) Read More
      else
        p This user hasn't posted any tips yet.
    
    //- User's comments section
    .user-comments
      h2 Comments by #{user.username}
      
      if comments && comments.length
        .comments-list
          each comment in comments
            .comment-card
              .comment-header
                span.comment-info On tip: 
                a(href=`/tips/${comment.tip_id}`) #{comment.tip_title}
                span.comment-date #{new Date(comment.created_at).toLocaleDateString()}
              .comment-body
                p= comment.content
      else
        p This user hasn't commented on any tips yet.
    
    a.btn(href="/users") Back to Users